// BASE FONT
$baseFontSize: 1.6rem
$baseFontFamily: Gabriela
$baseLineHeight: calc(1em + 0.7rem)
$roboto : 'Roboto Slab', 'Helvetica Neue', sans-serif

// FONT WEIGHTS
$lightWt: 100
$slimWt: 200
$thinWt: 300
$normalWt: 400
$thickWt: 500
$heavyWt: 600
$boldWt: 700

$boxShadow: 0 1.5rem 4rem rgba($black, .15)
$boxShadowDark: 0 1.5rem 4rem rgba($black, .55)

$bodyPadding: 0

$cardGutter: 20px

$small: 80%

$borderRadius: 3px
$greyBorder: 1px solid $greyLight

$mobileNavTop: 0
$menuDepth: 130px

$logoWidth: 15rem
