/*~~~~~~~  Footer  ~~~~~~~*/
footer
	/*Sticky footer*/
	margin-top: auto

.footer
	background-color: $midtone
	padding: 4rem 0 2rem 0
	font:
		size: 1.4rem
		family: $roboto
	color: $shadow
	@include respond(tabletPortrait)
		font-size: 1.8rem
	@include respond(tabletPortrait)
		font-size: 2rem


	&LogoBox
		text-align: center
		margin-bottom: 4rem

	&Logo
		width: $logoWidth
		height: auto

	&Row
		display: flex
		flex-direction: column
		max-width: 114rem
		margin: 0 auto
		// width: $logoWidth
		@include respond(notebook)
			flex-direction: row
	&Block
		display: flex
		justify-content: center
		&:first-child
			margin-bottom: 2rem
		@include respond(notebook)
			flex-direction: row
			width: calc((100% - #{$logoWidth / 2}) / 2)
			&:first-child
				margin-right: $logoWidth / 2
			&:last-child
				justify-content: flex-end

	&Navigation
		border-top: 1px solid $greyDark
		padding-top: 2rem
		/*This works because 'inline-block' does not occupy the full width.*/
		/*It only occupies the width of the elements in its container.*/
		display: inline-block

	&List
		list-style: none
		display: flex
		flex-direction: column
		align-items: center
		@include respond(notebook)
			flex-direction: row

	&Item
		display: inline-block
		margin-bottom: .75rem
		@include respond(notebook)
			&:not(:last-child)
				margin-right: 1.5rem
				margin-bottom: .5rem
			margin-bottom: 0

	&Link
		&:link, &:visited
			color: $highlight
			background-color: $shadow
			text-decoration: none
			text-transform: uppercase
			display: inline-block
			padding: 1rem 1rem
			transition: all .2s
			border-radius: $borderRadius
		&:hover, &:active
			color: $midtoneDark
			box-shadow: 0 1rem 2rem rgba($accentLight, .4)
			transform: rotate(5deg) scale(1.3)

	&Copyright
		border-top: 1px solid $greyDark
		padding-top: 2rem
		/*This works because 'inline-block' does not occupy the full width.*/
		/*It only occupies the width of the elements in its container.*/
		display: inline-block
		line-height: 2.2rem
		.copy
			/* Make inline-block so we can set top margins
			display: inline-block
			margin-top: 2rem
		a:first-of-type
			border-bottom: 3px solid $midtone
		.footerLink
			margin-bottom: 1rem

/*===== END  Footer  =====*/
