/*~~~~~~~  Header  ~~~~~~~*/

.headerNav
	display: flex
	flex-direction: row
	&Logo
		margin-right: auto

.shopAccounts
	display: flex
	flex-direction: row
	list-style: none

	&Icon
		font-size: 2rem
		margin-bottom: .5rem
		margin-top: 1.3rem

	&Label
		font-size: 1.8rem
		margin-left: -4rem
		/*	Match the padding from the menu a for "My Profile"
		padding-top: .5rem
		padding-bottom: .5rem

	&Dropdown
		min-width: 9rem
		display: flex
		flex-direction: column

	li:not(:last-child)
		margin-right: 2rem

#cartIcon
	color: $accentDark

.cartSection
	min-width: 9rem
	display: flex
	flex-direction: column
	justify-content: space-between

/*===== END  Header  =====*/
