/*~~~~~~~  Header  ~~~~~~~*/

.headerNav
	display: flex
	flex-direction: row
	/* Not enough space to display all items in one row so wrap them
	flex-wrap: wrap
	/*	Margin to give space for the hamburger button
	margin-right: 4rem
	/* Need the element to be positioned for z-index to work
	position: relative
	z-index: 20
	@include respond(tabletPortrait)
		/* All items will fit on one row so no need to wrap
		flex-wrap: nowrap
	&Logo
		margin-right: auto

.shopAccounts
	display: flex
	flex-direction: row
	list-style: none
	/* Minimum margin to keep 'My Profile' & Cart on the top row
	margin-right: 3rem
	@include respond(notebook)
		margin-right: 0

	&Icon
		font-size: 2rem
		margin-bottom: .5rem
		margin-top: 1.3rem

	&Label
		font-size: 1.8rem
		/*	Match the padding from the menu a for "My Profile"
		padding-top: .5rem
		padding-bottom: .5rem

	&Block
		// min-width: 9rem
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: center

#cartIcon
	color: $accentDark


/*===== END  Header  =====*/
