{% extends "base.html" %}
{% load static %}

{% block extra_title %}Home{% endblock %}

{% block content %}
		<div class="aboutContainer">
			<div class="aboutTitle">
				<hr>
				<h1>About Natalia</h1>
				<hr>
			</div>
			<div class="aboutDetails">
				<img src="{% static 'images/natalia.jpeg' %}" alt="Natalia with a client">
				<div>
				<p>With over 20 years experience the opportunity to see people achieve new goals and climb new heights leaves me humbled and in complete awe.</p>
				<br>
				<p>Adults and children have the power within their own body to heal, to develop and to fulfil their potential.  As an occupational therapist it is cultivating that progress and harnessing that energy into an individual treatment plan that creates amazing benefits in a very short period of time.</p>
				<br>
				<p>The goal is always progress and progress comes from within when there is a harmony between mind, spirit and body there can truly be outstanding achievements.  As an occupational therapist it is tapping into those needs and channelling those goals into attainable results.  The results are more than aspirations; they are the gateway to success and happiness.</p>
				<br>
				<p>Finding the right fit and the right occupational therapist is crucial.  Your success and your potential is the very essence that inspires me to do OT 4U in a unique and specialised way.  It comes from within and it is a celebrated journey that we embark together.  It is your goals and your potential that allows us to achieve this.</p>
				<br>
				<p>OT4U is the very heart of what I do to help you on your journey.  It is a voyage of discovery and you just may be amazed on what you can achieve.  Your potential is untapped and your abilities are endless.  Let's do this together because the very essence of our relationship is about your success, your abilities and your belief that you can do this.</p>
				<br>
				<p>One small step can be an amazing leap forward, belief comes from within and I promise you that is a a shared belief that is based on respect and trust.</p>
				<br>
				<p>Your success is our goal and OT4U is the start!</p>
				</div>
			</div>
		</div>
{% endblock %}