{% extends "base.html" %}
{% load static %}


{% block extra_title %}Profile{% endblock %}

{% block content %}
	<div class="containerProfile">
		<div class="profileHead">
			<hr>
			<h2 class="profileTitle">My Profile</h2>
			<hr>
		</div>
		<!-- Half of this page will be the profile 
		and the other half will be the order history -->
		<div class="profileWrapper">
			<div class="profileDetails">
				<p class="profileHeading">Default client information</p>
				<form class="profileDetailsForm" action="{% url 'profile' %}" method="POST" id="profileUpdateForm">
					{% csrf_token %}
					{{ form }}
					<button class="profileDetailsButton btn btnPrimary">Update Information</button>
				</form>
			</div>
			<div class="profileOrders">
				<p class="profileHeading">Order History</p>
				{{ orders }}
				
			</div>
		</div>
	</div>
	
{% endblock %}
