{% extends "base.html" %}
{% load static %}
{% block extra_title %}Edit Therapy{% endblock %}

{% block extra_css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/testimonial.css' %}">
{% endblock %}

{% block content %}
<div class="containerTestimonial">
				<div class="testimonialHeader">
					<hr>
					<h2 class="testimonialTitle">Testimonials</h2>
					<h3 class="muted">We make people genuinely happy</h3>
					<hr>
				</div>
	        	<div class="testimonialBody">
	        	
	        		{% for testimonial in testimonials %}
	        		<div class="testimonial">
	        			<figure class="testimonialShape">
	        				<img alt="{{testimonial.first_name}} {{testimonial.last_name}}" 
	        					src="{% if testimonial.image %}{{ testimonial.image.url }}{% else %}{% static 'images/user-icon-min.jpg' %}{% endif %}" 
	        					class="testimonialImage">
	        				<figcaption class="testimonialCaption">{{testimonial.first_name}} {{testimonial.last_name}}</figcaption>
	        			</figure>
	        			<div class="testimonialText">
	        				<h3>{{ testimonial.testimony_title }}</h3>
	        				<p>{{ testimonial.testimony }}</p>
	        				<p class="testimonialDate">{{ testimonial.date }}</p>
	        			</div>
	        		</div>
	        		{% endfor %}
	        		
	        		<a href="{% url 'addTestimonial' %}" class="btn btnPrimary">Add My Testimonial</a>
				
	        	</div>

{% endblock %}