/*~~~~~~~  Typography  ~~~~~~~ */
@import url("https://fonts.googleapis.com/css2?family=Gabriela&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: Gabriela;
  font-weight: 400;
  /* For accessibility - The WCAG criteria states that line-height should be at least 1.5 */
  /* The WCAG criteria is meant for "body" text, not headings. */
  /* So we can calculate the proper line height for all elements : */
  /* Instead of calculating the line height by multiplying the font-size with a number like 1.5, */
  /* this alternative uses the font-size as a base, and adds a fixed amount of space to each line. */
  line-height: calc(1em + 0.7rem);
  color: #751c00;
}

/*===== END  Typography  ===== */
/*~~~~~~~  Reset  ~~~~~~~ */
/* Josh's Custom CSS Reset
 * https://www.joshwcomeau.com/css/custom-css-reset */
*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

/* The height of an element is calculated based on its CHILDREN.
 * So setting height: 100% on an element will cause it to be 100% of the child's height.
 * This setting causes the height to be calculated from the parent */
html, body {
  height: 100%;
}

body {
  /* MacOS browsers like Chrome and Safari still use subpixel antialiasing by default. */
  /* We need to explicitly turn it off. */
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  /*display: block*/      /* Will remove extra space from under an image - Use flexbox on its parent instead */
  /* Keep large images from overflowing, if theyre placed in a container that isnt wide enough to contain them. */
  max-width: 100%;
}

/* by default, buttons and inputs don't inherit typographical styles from their parents. */
/* Instead, they have their own weird styles. */
/* Form inputs shouldn't have their own typographical styles! */
input, button, textarea, select {
  font: inherit;
}

/* The overflow-wrap property lets us tweak the line-wrapping algorithm, */
/* and give it permission to use hard wraps when no soft wrap opportunties can be found */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*===== END  Reset  ===== */
html {
  /* Since browser default font-size is 16px */
  /* Set it to 10px (on a desktop) to make converting px to rem easier. */
  /* Use a percentage so that if a user changes the font size */
  /* on their browser or zooms the font sizes,  */
  /* paddings and margins adjust accordingly. */
  /* This defines what 1rem is */
  /* For mobile 1st design we will use 8px for the mobile device */
  font-size: 50%;
}
@media only screen and (min-width: 50em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (min-width: 75em) {
  html {
    font-size: 62.5%;
  }
}
@media only screen and (min-width: 90em) {
  html {
    font-size: 75%;
  }
}

body {
  /* Inheritable properties */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Set up page for sticky footer */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.6rem;
  /* Mobile devices do not honour the "vh" property properly */
  /* So setting the view height to less than 100 for mobile devices */
  min-height: 92vh;
  /* Non-inheritable properties */
  padding: 0;
  background-color: #ffece5;
}
@media only screen and (min-width: 75em) {
  body {
    min-height: 100vh;
  }
}

/*~~~~~~~  Utilities  ~~~~~~~ */
.centreText {
  text-align: center;
}

.marginBottomSmall {
  margin-bottom: 1.5rem;
}
.marginBottomMedium {
  /* Mobile first - so smaller values first */
  margin-bottom: 3rem;
}
@media only screen and (min-width: 50em) {
  .marginBottomMedium {
    margin-bottom: 4rem;
  }
}
.marginBottomBig {
  margin-bottom: 5rem;
}
@media only screen and (min-width: 50em) {
  .marginBottomBig {
    margin-bottom: 8rem;
  }
}

.marginTopSmall {
  margin-top: 1.5rem;
}
.marginTopMedium {
  margin-top: 4rem;
}
.marginTopBig {
  margin-top: 8rem;
}
.marginTopHuge {
  margin-top: 10rem;
}

.invisible {
  display: none;
}

/*===== END  Utilities  ===== */
/*~~~~~~~  Navbar  ~~~~~~~ */
#navigationNav {
  /*	Setting the "position" property allows us to use z-index */
  position: fixed;
  /*	NO top value will centre the menu vertically on mobile screens */
  left: 0;
  z-index: 15;
  /*Hide the navigation initially */
  opacity: 0;
  /*It is not enough to have an opacity of zero */
  /*The elements are still there and are clickable
   * Need to set the width to zero as well
   * the menu elements are hidden but on the left edge of the screen & clickable
   * Need to move the menu off screen completely, so none of the menus are clickable */
  width: 0;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@media only screen and (min-width: 59.375em) {
  #navigationNav {
    background-color: #ffcdbd;
    width: 100%;
    height: auto;
    opacity: 1;
    position: relative;
    top: 0;
    /*	In the mobile version the menu is initially push off the screen
     * This is not done on the desktop version - so have to translate to position 0 */
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#naviToggle {
  display: none;
}

.navigationButton {
  display: inline;
  background-color: #FFFFFF;
  /*Make this slightly larger than the navigationBackground, to be sure to cover it */
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  position: fixed;
  top: 1rem;
  right: 0.5rem;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  /* Align the "hamburger" icon horizontally */
  text-align: center;
  cursor: pointer;
}
@media only screen and (min-width: 59.375em) {
  .navigationButton {
    display: none;
  }
}
.navigationBackground {
  /*Coloured background for the navigation */
  /*It will start as a small circle behind the white circle containing the "hamburger" icon */
  /*It will expand to fill the screen when the "hamburger" icon is clicked */
  display: block;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  /*Stays in the same position even if we scroll down the page */
  position: fixed;
  top: 1.5rem;
  right: 1rem;
  background-image: radial-gradient(#ffcdbd, #ffb299);
  z-index: 10;
  /*Custom transition function, uses a cubic bezier curve for ease-in and ease-out */
  /*See easings.net & cubic-bezier.com */
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
@media only screen and (min-width: 59.375em) {
  .navigationBackground {
    display: none;
  }
}
.navigationList {
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}
@media only screen and (min-width: 59.375em) {
  .navigationList {
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.navigationLink {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}
.navigationLink:link, .navigationLink:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #191970;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #b299ff 50%);
  /*Increasing the background shoves the RHS of the linear gradient off the element, so it is invisible */
  background-size: 235%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
@media only screen and (min-width: 59.375em) {
  .navigationLink:link, .navigationLink:visited {
    font-size: 1.8rem;
    -webkit-transform: none;
            transform: none;
  }
}
.navigationLink:hover, .navigationLink:active {
  background-position: 100%;
  color: #ffcdbd;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}
.navigationItem {
  margin: 1rem;
  /*Hide the navigation list item initially */
  width: 0;
}
@media only screen and (min-width: 59.375em) {
  .navigationItem {
    width: initial;
  }
}
.navigationCheckbox:checked ~ .navigationBackground {
  -webkit-transform: scale(80);
          transform: scale(80);
}
.navigationCheckbox:checked ~ #navigationNav {
  /*	When the 'hamburger' menu is clicked
   * 1) Make the menu full width */
  width: 100%;
  /*	2) Show the menu */
  opacity: 1;
  /*	3) The menu is initially shoved off the edge of the viewport
   * Need to move it back into the middle */
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.navigationIcon {
  display: inline-block;
  position: relative;
  margin-top: 3.5rem;
  color: #FFFFFF;
  /*A bar before the span, the span is a bar, a bar after the span */
  /*Each bar is 3rem x 2px and is coloured dark grey */
  /*For ::before and ::after to show they need content and display properties to be set */
}
.navigationIcon, .navigationIcon::before, .navigationIcon::after {
  width: 3rem;
  /*Always stays the same height, no matter what the base font size is */
  height: 2px;
  background-color: #333333;
  display: inline-block;
}
.navigationIcon::before, .navigationIcon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navigationIcon::before {
  top: -0.8rem;
  /*By default elements will rotate around the centre. */
  /*If you want to rotate around the edge you can set the transform-origin */
  /*transform-origin: right */
}
.navigationIcon::after {
  top: 0.8rem;
  /*transform-origin: left */
}
@media only screen and (min-width: 59.375em) {
  .navigationIcon {
    display: none;
  }
}
.navigationButton:hover .navigationIcon::before {
  top: -1rem;
}
.navigationButton:hover .navigationIcon::after {
  top: 1rem;
}
.navigationCheckbox:checked + .navigationButton > .navigationIcon {
  /*When the button is clicked change the "hamburger" to a cross */
  /*When the checkbox is selected - get its adjacent sibling and */
  /*select the child element of the adjacent sibling */
  /*Step 1 make the middle bar invisible (this is the span in the navigationIcon) */
  background-color: transparent;
}
.navigationCheckbox:checked + .navigationButton > .navigationIcon::before {
  /*Step 2 make the top bar rotate (this is the navigationIcon::before) */
  /*Rotate 180 degrees - 45 degrees : Takes longer, so looks better */
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 0;
}
.navigationCheckbox:checked + .navigationButton > .navigationIcon::after {
  /*Step 3 make the bottom bar rotate (this is the navigationIcon::after) */
  /*Rotate 180 degrees - 45 degrees : Takes longer, so looks better */
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 0;
}
.navigationActive {
  background-color: #99ffb2;
}
.navigation.navigationActive {
  background-color: #99ffb2;
}

.nonMobile {
  display: none;
}
@media only screen and (min-width: 59.375em) {
  .nonMobile {
    display: initial;
  }
}

@media only screen and (min-width: 59.375em) {
  .mobileOnly {
    display: none;
  }
}

.navList {
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 8rem;
  padding-top: 1rem;
}
@media only screen and (min-width: 59.375em) {
  .navList {
    margin-right: 0;
  }
}

.logoImage {
  width: 15rem;
  height: auto;
}

/*===== END  Navbar  ===== */
/*~~~~~~~  Footer  ~~~~~~~ */
footer {
  /*Sticky footer */
  margin-top: auto;
}

.footer {
  background-color: #ffcdbd;
  padding: 4rem 0 2rem 0;
  font-size: 1.4rem;
  font-family: "Roboto Slab", "Helvetica Neue", sans-serif;
  color: #751c00;
}
@media only screen and (min-width: 37.5em) {
  .footer {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 37.5em) {
  .footer {
    font-size: 2rem;
  }
}
.footerLogoBox {
  text-align: center;
  margin-bottom: 4rem;
}
.footerLogo {
  width: 15rem;
  height: auto;
}
.footerRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 114rem;
  margin: 0 auto;
}
@media only screen and (min-width: 59.375em) {
  .footerRow {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.footerBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footerBlock:first-child {
  margin-bottom: 2rem;
}
@media only screen and (min-width: 59.375em) {
  .footerBlock {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: calc((100% - 7.5rem) / 2);
  }
  .footerBlock:first-child {
    margin-right: 7.5rem;
  }
  .footerBlock:last-child {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.footerNavigation {
  border-top: 1px solid #333333;
  padding-top: 2rem;
  /*This works because 'inline-block' does not occupy the full width. */
  /*It only occupies the width of the elements in its container. */
  display: inline-block;
}
.footerList {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (min-width: 59.375em) {
  .footerList {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.footerItem {
  display: inline-block;
}
.footerItem:not(:last-child) {
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
}
@media only screen and (min-width: 59.375em) {
  .footerItem:not(:last-child) {
    margin-bottom: 0;
  }
}
.footerLink:link, .footerLink:visited {
  color: #b299ff;
  background-color: #751c00;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footerLink:hover, .footerLink:active {
  color: #ffb299;
  -webkit-box-shadow: 0 1rem 2rem rgba(153, 255, 178, 0.4);
          box-shadow: 0 1rem 2rem rgba(153, 255, 178, 0.4);
  -webkit-transform: rotate(5deg) scale(1.3);
          transform: rotate(5deg) scale(1.3);
}
.footerCopyright {
  border-top: 1px solid #333333;
  padding-top: 2rem;
  /*This works because 'inline-block' does not occupy the full width. */
  /*It only occupies the width of the elements in its container. */
  display: inline-block;
  line-height: 2.2rem;
}
.footerCopyright .copy {
  /* Make inline-block so we can set top margins */
  display: inline-block;
  margin-top: 2rem;
}
.footerCopyright a:first-of-type {
  border-bottom: 3px solid #ffcdbd;
}

/*===== END  Footer  ===== */
/*~~~~~~~  Header  ~~~~~~~ */
.headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* Not enough space to display all items in one row so wrap them */
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*	Margin to give space for the hamburger button */
  margin-right: 4rem;
  /* Need the element to be positioned for z-index to work */
  position: relative;
  z-index: 20;
}
@media only screen and (min-width: 37.5em) {
  .headerNav {
    /* All items will fit on one row so no need to wrap */
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.headerNavLogo {
  margin-right: auto;
}

.shopAccounts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  /* Minimum margin to keep 'My Profile' & Cart on the top row */
  margin-right: 3rem;
}
@media only screen and (min-width: 59.375em) {
  .shopAccounts {
    margin-right: 0;
  }
}
.shopAccountsIcon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 1.3rem;
}
.shopAccountsBlock .shopAccountsLabel {
  /*	Need both classes to increase the specifity
   * to over-ride the text sizing from ".mainMenu a" */
  font-size: 1.8rem;
  /*	Match the padding from the menu a for "My Profile" */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.shopAccountsBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cartIcon {
  color: #191970;
}

/*===== END  Header  ===== */
/*~~~~~~~  Home Page  ~~~~~~~ */
.homePage {
  background-image: url(../images/occupational-therapist-playing-with-child-small.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: calc(100vh - 130px);
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (min-width: 59.375em) {
  .homePage {
    background-image: url(../images/occupational-therapist-playing-with-child.jpg);
  }
}
.homeTitle {
  position: absolute;
  top: 5rem;
  text-shadow: 2px 2px #ffb299;
  font-size: 2.5rem;
  line-height: 2.7rem;
}
@media only screen and (min-width: 22.5em) {
  .homeTitle {
    top: 8rem;
  }
}
@media only screen and (min-width: 25em) {
  .homeTitle {
    top: 11rem;
    font-size: 3rem;
  }
}
@media only screen and (min-width: 37.5em) {
  .homeTitle {
    font-size: 3.5rem;
    top: 15rem;
  }
}
@media only screen and (min-width: 50em) {
  .homeTitle {
    font-size: 4.5rem;
    line-height: 4.7rem;
    top: 17rem;
  }
}
@media only screen and (min-width: 59.375em) {
  .homeTitle {
    top: 4rem;
    font-size: 3.3rem;
    line-height: 3.7rem;
  }
}
.homeButton {
  position: absolute;
  bottom: 8rem;
}
.homeButton a {
  font-size: 1.25rem;
}
@media only screen and (min-width: 22.5em) {
  .homeButton {
    bottom: 11rem;
  }
}
@media only screen and (min-width: 25em) {
  .homeButton {
    bottom: 14rem;
  }
  .homeButton a {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 37.5em) {
  .homeButton {
    bottom: 18rem;
  }
  .homeButton a {
    font-size: 2.7rem;
  }
}
@media only screen and (min-width: 50em) {
  .homeButton {
    bottom: 25rem;
  }
  .homeButton a {
    font-size: 3.4rem;
  }
}
@media only screen and (min-width: 59.375em) {
  .homeButton {
    bottom: 5rem;
  }
}

/*===== END  Home Page  ===== */
/*~~~~~~~  Therapies Page  ~~~~~~~ */
.therapyTitle h1 {
  text-align: center;
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}
.therapyTitle hr {
  width: 50%;
  margin: 1.5rem auto 0 auto;
}
.therapyContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 32.25em) {
  .therapyContainer {
    width: 100%;
  }
}
@media only screen and (min-width: 33.9375em) {
  .therapyContainer {
    width: 95%;
  }
}
@media only screen and (min-width: 40.3125em) {
  .therapyContainer {
    width: 80%;
  }
}
@media only screen and (min-width: 48.875em) {
  .therapyContainer {
    width: 100%;
  }
}
@media only screen and (min-width: 51.75em) {
  .therapyContainer {
    width: 95%;
  }
}
@media only screen and (min-width: 61.4375em) {
  .therapyContainer {
    width: 80%;
  }
}
@media only screen and (min-width: 68.75em) {
  .therapyContainer {
    width: 96%;
  }
}
@media only screen and (min-width: 82.8125em) {
  .therapyContainer {
    width: 80%;
  }
}
@media only screen and (min-width: 90.625em) {
  .therapyContainer {
    width: 95%;
  }
}
@media only screen and (min-width: 105.1875em) {
  .therapyContainer {
    width: 80%;
  }
}
.therapyList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* External & Internal border padding */
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*===== END  Therapies Page  ===== */
/*~~~~~~~  Single Therapy Page  ~~~~~~~ */
.therapyWrapper {
  padding: 2rem 1rem;
}
@media only screen and (min-width: 75em) {
  .therapyWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media only screen and (min-width: 75em) {
  .therapyImageWrapper {
    width: 50%;
    margin-right: 2rem;
  }
}
@incude respond(XL) {
  .therapyImageWrapper {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
.therapyImageWrapper img {
  max-height: 43rem;
}
.therapyDetails {
  margin-top: 1rem;
}
@media only screen and (min-width: 75em) {
  .therapyDetails {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@incude respond(XL) {
  .therapyDetails {
    width: 33%;
    margin-left: 15%;
  }
}
.therapyDetailsDescription {
  margin-top: 0.5rem;
}
.therapyDetailsBody p {
  margin-top: 0.75rem;
}
.therapyDetailsPrice {
  font-size: 2.5rem;
  font-weight: 700;
}
.therapyDetailsLabel {
  font-weight: 700;
}
.therapyDetailsSessions {
  margin-top: 1rem;
}
.therapyDetailsFooter {
  margin-top: 1rem;
  font-size: 1.6rem;
}
.therapyDetailsFooter p {
  margin-top: 0.75rem;
}

p.therapyDetailsPrice {
  margin-top: 1.25rem;
}

.shopButtons {
  margin-top: 1.2rem;
}

/*===== END  Single Therapy Page  ===== */
/*~~~~~~~  Dropdown Menu  ~~~~~~~ */
li.navigationItem {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

/* HTML Nav Styles */
menuitem {
  cursor: pointer;
  z-index: 40;
}

menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
menu.headMenu {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
menu.headMenu > menuitem > a {
  padding-left: 0;
}
menu menuitem a {
  white-space: nowrap;
  display: block;
}

/*	this is the initial state of all subMenus.
 * we set it to max-height: 0, and hide the overflowed content. */
.subMenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background-color: #ffb299;
}
@media only screen and (min-width: 59.375em) {
  .subMenu {
    /*	Ensure the subMenu is above the rest of the page */
    position: absolute;
    z-index: 50;
  }
}
.subMenu > menuitem > a {
  border-top: 1px solid #ffcdbd;
  border-bottom: 1px solid #ff6533;
}
@media only screen and (min-width: 59.375em) {
  .subMenu > menuitem > a {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 0.5rem;
  }
}
.subMenu > menuitem > a:hover {
  background-color: #ffece5;
  border: 1px solid #ffcdbd;
}
#accountOptions + .subMenu {
  max-width: 12.3rem;
  /* The non-mobile .subMenu is translated in the Y axis
   * Switch this off by translating by 0 */
}
#accountOptions + .subMenu a {
  font-size: 1.2rem;
  padding-left: 0.5rem;
}
@media only screen and (min-width: 59.375em) {
  #accountOptions + .subMenu a {
    font-size: 1.7rem;
  }
}

.mainMenu {
  /* Need a bottom margin otherwise the menu is written
   * on top of the rest of the page */
}
@media only screen and (min-width: 59.375em) {
  .mainMenu {
    /*	Showing the submenu shoves the rest of the page down
     * So remove the bottom margin on the main menu to counter-act this */
  }
  .mainMenu:hover {
    margin-bottom: 0;
  }
}
.mainMenu a {
  font-size: 2.5rem;
}
@media only screen and (min-width: 59.375em) {
  .mainMenu a {
    font-size: 2.2rem;
  }
}

/*	when hovering over a .mainMenu item,
 * display the subMenu below it.
 * we're changing the subMenu's max-height from 0 to 200px; */
.mainMenu menuitem:hover .subMenu {
  /*	In the mobile view we want the "appearing" submenu to
   * shove the other main menu items down */
  display: block;
  max-height: 200px;
  width: auto;
  /*	In the desktop view we want the "appearing" submenu to
   * overlap the existing page items and not shove anything down */
}
@media only screen and (min-width: 59.375em) {
  .mainMenu menuitem:hover .subMenu {
    position: absolute;
  }
}

menu a {
  color: #751c00;
  min-width: 9rem;
  -webkit-transition: background 0.5s, color 0.5s, -webkit-transform 0.5s;
  transition: background 0.5s, color 0.5s, -webkit-transform 0.5s;
  transition: background 0.5s, color 0.5s, transform 0.5s;
  transition: background 0.5s, color 0.5s, transform 0.5s, -webkit-transform 0.5s;
  margin: 0;
  text-align: left;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  border-radius: 3px;
}

.mainMenu > menuitem {
  position: relative;
}
.mainMenu > menuitem > .subMenu {
  width: 0;
}

.dropMenu {
  /* Place an arrow underneath the mainMenu text */
}
.dropMenu:hover > menuitem::after {
  content: "";
  position: absolute;
}
@media only screen and (min-width: 59.375em) {
  .dropMenu:hover > menuitem::after {
    /* Show an arrow in desktop view */
    width: 0;
    height: 0;
    border: 8.5px solid transparent;
    border-top: 10px solid #751c00;
    top: 28px;
    /*	Show the arrow on top of the subMenu */
    z-index: 55;
  }
}
.dropMenuTopLink {
  text-align: center;
  /*	Since touch devices do not have a "hover" event
   * We need to click on the "Therapies" label to open the submenu
   * However this will activate the link and the user will never see the subMenu
   * We need to disable the pointer on the anchor in mobile view.
   * The parent menu is still clickable and will show the subMenu, but the anchor will not be activated. */
  pointer-events: none;
}
@media only screen and (min-width: 59.375em) {
  .dropMenuTopLink {
    /* Re-enable the "Therapies" anchor for non-touch screens */
    pointer-events: auto;
  }
}

/* For "search" & "My Account" dropdown */
.headMenu > menuitem > menu > menuitem {
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 0;
}

.headMenu > menuitem:hover > menu > menuitem,
.headMenu > menuitem.hover > menu > menuitem {
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 1;
}

/*===== END Dropdown Menu   ===== */
/*~~~~~~~  Button  ~~~~~~~ */
.btn {
  text-transform: uppercase;
  display: inline-block;
  padding: 1.3rem 1.8rem;
  border-radius: 10rem;
  font-size: 1.6rem;
  background-color: #ffcdbd;
  color: #751c00;
  border: 3px solid #751c00;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn:hover {
  /* Make the button pop up => 3D effect */
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  /* Box Shadow X Y Blur Colour */
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  color: #b299ff;
  background-color: #751c00;
  /* Make the button appear to be pressed => 3D effect */
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  /* Box Shadow X Y Blur Colour */
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:not(:last-child) {
  margin-right: 1.5rem;
}
.btnCTA {
  background-color: #b299ff;
}
.btnPrimary {
  background-color: #99ffb2;
  margin-left: auto;
  margin-right: 3rem;
}
.btnGhost {
  background-color: transparent;
}
.btnGhost:hover {
  color: #751c00;
}
.btnGhost:active {
  color: #FFFFFF;
}
.btnTextOnly {
  border: none;
  background-color: transparent;
}
.btnTextOnly:hover, .btnTextOnly:active {
  background-color: transparent;
  color: #ffcdbd;
}

button[class$="crementSessions"] {
  background-color: #000000;
  color: #FFFFFF;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  height: 3.75rem;
  width: 3.75rem;
}
button[class$="crementSessions"]:disabled {
  background-color: #808080;
  cursor: not-allowed;
}

.incrementSessions {
  margin-left: -0.5rem;
}

.decrementSessions {
  margin-right: -0.5rem;
}

.btnThin {
  /* These thin buttons have too much padding above and below
   * Override the default padding for these Buttons */
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

/*===== END  Button  ===== */
.search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Since the search box will appear over the header and the mobile menu,
   * both of which have different backgrounds,
   * Need to set its background to transparent */
  background-color: transparent;
  margin-right: auto;
  margin-left: auto;
  /* Last one - move all the way to the end
   * So that it will wrap onto the next row in the mobile view */
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media only screen and (min-width: 37.5em) {
  .search {
    /* Move back inline with the rest of the top nav */
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}
.searchInput {
  /* Input does NOT inherit font family or size automatically */
  font-family: inherit;
  font-size: 1.6rem;
  color: inherit;
  background-color: #f4f2f2;
  /* Set to a high number to give round ends to rectangle */
  border-radius: 100px;
  /*	Add a border to make the search field show up against the light background */
  border: 1px solid #aab7c4;
  padding: 0.7rem 2rem;
  width: 90%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  /* Move the button on top of this input  */
  margin-right: -3.25rem;
}
.searchInput:focus {
  outline: none;
  width: 100%;
  background-color: #808080;
}
.searchInput:focus::-webkit-input-placeholder {
  /*	Change the colour of the placeholder text
   * when the background gets darker
   * to ensure there is enough contrast */
  color: #aab7c4;
}
.searchInput:focus:-ms-input-placeholder {
  /*	Change the colour of the placeholder text
   * when the background gets darker
   * to ensure there is enough contrast */
  color: #aab7c4;
}
.searchInput:focus::-ms-input-placeholder {
  /*	Change the colour of the placeholder text
   * when the background gets darker
   * to ensure there is enough contrast */
  color: #aab7c4;
}
.searchInput:focus::placeholder {
  /*	Change the colour of the placeholder text
   * when the background gets darker
   * to ensure there is enough contrast */
  color: #aab7c4;
}
.searchInput::-webkit-input-placeholder {
  /* Change the colour of the placeholder text
   * to give enough contrast
   * https://www.w3schools.com/howto/howto_css_placeholder.asp */
  font-weight: 100;
  color: #999999;
}
.searchInput:-ms-input-placeholder {
  /* Change the colour of the placeholder text
   * to give enough contrast
   * https://www.w3schools.com/howto/howto_css_placeholder.asp */
  font-weight: 100;
  color: #999999;
}
.searchInput::-ms-input-placeholder {
  /* Change the colour of the placeholder text
   * to give enough contrast
   * https://www.w3schools.com/howto/howto_css_placeholder.asp */
  font-weight: 100;
  color: #999999;
}
.searchInput::placeholder {
  /* Change the colour of the placeholder text
   * to give enough contrast
   * https://www.w3schools.com/howto/howto_css_placeholder.asp */
  font-weight: 100;
  color: #999999;
}
.searchInput:focus + .searchButton {
  /* When the input gets focus
   * Change the background colour of its sibling(+) button */
  background-color: #808080;
}
.searchButton {
  border: none;
  background-color: #f4f2f2;
}
.searchButton:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
.searchIcon {
  height: 2rem;
  width: 2rem;
  font-size: 1.4rem;
}

/*~~~~~~~  Card  ~~~~~~~ */
.therapyCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Layout card in a grid
   * https://www.youtube.com/watch?v=vQAvjof1oe4 */
  -webkit-box-flex: 0;
      -ms-flex: 0 1 250px;
          flex: 0 1 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.55);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.55);
}
.therapyCard p {
  font-size: 1.6rem;
  margin-bottom: 0.75rem;
}
.therapyCardBody {
  /* Push the cardFooter to the bottom of the card */
  -webkit-box-flex: 1;
      -ms-flex: auto 1 1;
          flex: auto 1 1;
  padding: 0 1rem;
}
.therapyCardBody h2 {
  padding: 1rem 0;
  font-size: 2rem;
}
.therapyCardFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #ffcdbd;
  padding: 0.75rem 1rem;
  text-align: left;
  /* Since the footer hides the card's border-radius on the bottom
   * Need to set its border radius on the bottom too */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.therapyCardFooter p {
  margin-bottom: 0;
  font-weight: 700;
  color: #751c00;
  opacity: 0.7;
}
.therapyCardFooter small {
  color: #999999;
}
.therapyCardFooter .bookButton {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.therapyCardStyle {
  color: #751c00;
  font-size: 1.2rem;
  font-family: Gabriela;
}
.therapyCardStyle a {
  -webkit-text-decoration-color: #999999;
          text-decoration-color: #999999;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  text-decoration-thickness: auto;
}
.therapyCardStyle a:visited, .therapyCardStyle a:link {
  color: #999999;
}
.therapyCard img {
  height: 21rem;
  /* Since the image hides the card's border-radius on the top
   * Need to set its border radius on the top too */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/*===== END  Card  ===== */
.sessionsInput {
  /* 7.5rem is twice the width of an increment/decrement button */
  width: 25%;
  font-size: 1.3rem;
  height: 3.75rem;
  padding: 0.25rem 0.5rem;
  line-height: 1.5;
}

.shopButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/*~~~~~~~  Django AllAuth  ~~~~~~~ */
ul.errorlist {
  color: #e84610;
}

.allauth {
  padding: 1.5rem 2rem;
}
.allauthWrapper {
  width: 100%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 59.375em) {
  .allauthWrapper {
    width: 50%;
  }
}
@media only screen and (min-width: 75em) {
  .allauthWrapper {
    width: 35%;
  }
}
.allauthWrapper form.login p {
  margin-top: 0.75rem;
}
.allauthTitle {
  margin-bottom: 2rem;
  margin-top: 1.4rem;
  text-transform: uppercase;
  text-align: center;
}
.allauthFormInnerContent p {
  margin-top: 2rem;
  color: #751c00;
}
.allauthFormInnerContent a {
  color: #191970;
}
.allauthFormInnerContent input {
  border-color: #751c00;
  border-radius: 0;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
}
.allauthFormInnerContent input::-webkit-input-placeholder {
  color: #aab7c4;
}
.allauthFormInnerContent input:-ms-input-placeholder {
  color: #aab7c4;
}
.allauthFormInnerContent input::-ms-input-placeholder {
  color: #aab7c4;
}
.allauthFormInnerContent input::placeholder {
  color: #aab7c4;
}
.allauthFormInnerContent label:not([for="id_remember"]) {
  /* Hide the labels on everything except for the remember me checkbox on the login page */
  /* since all the other inputs will have placeholders */
  display: none;
  /* Standard Bootstrap transition */
  transistion: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.allauthFormInnerContent label:not([for="id_remember"]):hover {
  color: #b299ff;
  background-color: #333333;
  border-color: #333333;
}
.allauthSignUpFirst {
  margin-bottom: 1rem;
}

.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 0;
}
.signupButtons {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.signup input {
  width: 80%;
}

.emailVerifySent {
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2rem;
}
.emailVerifySent a {
  margin-top: 1rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.emailConfirm {
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.emailConfirm form {
  margin-top: 1rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.emailConfirm p {
  padding: 0 2rem;
}

.loginPage {
  padding: 0 2rem;
}
.loginForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1.5rem 0;
  position: relative;
}
.loginButtons {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#id_remember {
  /*	The checkbox for the "Remember Me" label
   * is laid out on the row after the label
   * Need to move it so it is beside its label
   * // transform: translate(0, -2rem)
   * // transform: translateY(-2rem)
   * // transform: translateX(0) */
  position: absolute;
  top: 11rem;
  left: 0;
}

label[for="id_remember"] {
  padding-left: 2rem;
}

@media only screen and (min-width: 37.5em) {
  .logoutPage {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 59.375em) {
  .logoutPage {
    /* At the "notebook" size an outer div is set to 50%
     * So reset the width back to full width again */
    width: 100%;
  }
}
.logoutForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.logoutButtons {
  margin-top: 2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.passwordResetForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}
.passwordResetButtons {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.passwordResetButtons input {
  border-radius: 10rem;
}
.passwordResetDone p {
  padding-bottom: 1rem;
}
.passwordResetKey form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.passwordResetKey form input:last-of-type {
  border-radius: 10rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.passwordResetKey form input:not(:last-of-type) {
  min-width: 23rem;
  max-width: 30rem;
}
.passwordResetKeyDone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.passwordResetKeyDone a {
  margin-top: 1.5rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/*===== END  Django AllAuth  ===== */

/*# sourceMappingURL=style.css.map */