.ot4u
	&Table
		tr:nth-child(odd)
			background-color: $midtoneDark
		tr:nth-child(even)
			background-color: $midtone
		.tableHead > tr
			background-color: $shadow
			color: $highlight
		td:last-child
			text-align: right
		@include respond(notebook)
			margin-top: 5rem

#therapyListTable
	font-size: 2rem
