 {% load static %}
        	<div class="footerLogoBox">
        		<!-- Art direction - Tell browser which image to choose
        		depending on the screen width -->
        		<!-- We could use  960px in the media queries -->
        		<picture class="footerLogo">
        			<source srcset="{% static 'images/logo-small-min.png' %}"
        				media="(max-width: 60em)">
        			<!-- Include a Fallback normal image in case  -->
        			<!-- the browser does not support srcset -->
        			<img alt="Colourful logo" class="footerLogo"
        			src="{% static 'images/logo-min.png' %}">
        		</picture>
        	</div>
        	<div class="footerRow">
        		<div class="footerBlock">
        			<div class="footerNavigation">
        				<ul class="footerList">
        					<li class="footerItem"><a href="{% url 'home' %}" class="footerLink">About Natalia</a></li>
        					<li class="footerItem"><a href="{% url 'home' %}" class="footerLink">Contact Us</a></li>
        					<li class="footerItem"><a href="{% url 'home' %}" class="footerLink">Privacy Policy</a></li>
        					<li class="footerItem"><a href="{% url 'home' %}" class="footerLink">Newsletter</a></li>
        				</ul>
        			</div>
        		</div>
        		<div class="footerBlock">
        			<p class="footerCopyright">
        				Built by <a href="#" class="footerLink">Liz Conway</a> for her online course<br><a href="https://codeinstitute.net/ie/full-stack-software-development-diploma/" rel="external" target="_blank" class="footerLink">Code Institue - Full Stack Diploma</a>.
        				<br><span class="copy">Copyright &copy; by Natalia Campbell, 2022.</span>
        			</p>
        		</div>
        	</div>