 {% load static %}
    	<div class="headerNav">
    		<div class="headerNavLogo">
    			<a href="{% url 'home' %}" class="navLink mainLogoLink">
    				<img  class="logoImage" src="{% static 'images/logo-min.png' %}" alt="Colourful OT4U logo">
    			</a>
    		</div>
    		<!-- Search form -->
       		<form action="{% url 'therapies' %}" method="get" class="search">
       			<input type="text" class="searchInput" name="q" placeholder="Search Therapies">
       			<button class="searchButton">
                        <i class="fas fa-search"></i>
       			</button>
       		</form>

    		<!-- Profile and shopping cart links -->
    		<div class="headerNavShopAcc">
    			<ul class="shopAccounts">
                    <li>
	                    <div class="shopAccountsBlock">
	                        <i class="fas fa-user shopAccountsIcon" id="accountIcon"></i>
	                        <menu class="mainMenu">
	                        	<menuitem>
									<a id="accountOptions" class="shopAccountsLabel dropMenuTopLink">My Profile</a>
									<menu class="subMenu">
								    	<menuitem id="homeLink">
								            <a href="{% url 'home' %}">Home</a>
							    		</menuitem>
								        {% if request.user.is_authenticated %}
									            {% if request.user.is_superuser %}
				                                	<menuitem><a href="{% url 'home' %}">Maintain Therapies</a></menuitem>
												{% endif %}
												<menuitem><a href="{% url 'account_logout' %}">Logout</a></menuitem>
											{% else %}
												<menuitem><a href="{% url 'account_signup' %}">Register</a></menuitem>
												<menuitem><a href="{% url 'account_login' %}">Login</a></menuitem>
											{% endif %}
									</menu>
								</menuitem>
							</menu>
	                    </div>
                    </li>
    				<li>
    		            <a class="navLink" href="{% url 'home' %}">
                            <div class="shopAccountsBlock">
                                <i class="fas fa-{% if grand_total %}shopping-cart{% else %}cart-plus{% endif %} shopAccountsIcon" id="cartIcon"></i>
                                <p class="shopAccountsLabel">
                                    {% if grand_total %}
                                        €{{ grand_total }}
                                    {% else %}
                                    	€1000
                                    {% endif %}
                                </p>
                            </div>
                        </a>
    				</li>
    			</ul>
    		</div>
 		</div>   		