			<!-- Hamburger menu for mobile devices -->
			<input type="checkbox" class="navigationCheckbox" id="naviToggle">
	       	<label class="navigationButton" for="naviToggle">
				<span class="navigationIcon">&nbsp;menu</span>
			</label>
	       	<div class="navigationBackground">
	       		&nbsp;
	       	</div>
    	<div class="mainNav" id="navigationNav">
			<!-- Site navbar -->
			<ul class="navigationList">
				<li class="navigationItem">
					    <menu class="mainMenu">
					    <menuitem id="homeLink">
						    <a class="navLink {% if '/' == request.path or 'privacy' in request.path %}navigationActive{% endif %}"
						    		 href="{% if '/' != request.path %}
								    		 	{% url 'home' %}
								    		 {% endif %}" 
						    		aria-haspopup="true" aria-expanded="false" tabindex="1">
						        Home
						    </a>
					</menuitem>
					    </menu>
				</li>
				<li class="navigationItem">
				    <menu class="mainMenu dropMenu">
					    <menuitem>
						        <a href="{% url 'therapies' %}" class="dropMenuTopLink {% if 'therapy' in request.path %}navigationActive{% endif %}"
						        	 id="therapiesMenuLabel" tabindex="2">
						        		Therapies
						        </a>
						    <menu class="subMenu" aria-labelledby="therapiesMenuLabel">
						    	<!-- Pass a 'style' parameter to the "therapies" URL -->
						    	<!-- These parameters will use the "name" field from the
						    	Type model so we have a programmatic way to access them
						    	Of course we could also use the type id.
								But this makes the URLs a little more semantic which is nice for the user -->
						    	<menuitem><a href="{% url 'therapies'%}?style=Equine">Equine Therapy</a></menuitem>
						    	<menuitem><a href="{% url 'therapies'%}?style=Literacy">Literacy Therapy</a></menuitem>
						    	<menuitem><a href="{% url 'therapies'%}?style=Self Care">Self Care Therapy</a></menuitem>
								<!-- The "therapies" URL is followed by a question mark
								to indicate we're about to pass the 'style' parameter.
								Followed by "equine", "literacy", and "selfcare" separated by a comma.
								This syntax ensures we end up with a comma-separated string in the view. -->
						    	<menuitem><a href="{% url 'therapies'%}">All Therapies</a></menuitem>
					    	</menu>
					    </menuitem>
				    </menu>
				</li>
				<li class="navigationItem">
				    <menu class="mainMenu">
					    <menuitem>
					    	<a href="{% url 'testimonials'%}" tabindex="3" 
					    		class=" {% if 'testimonial' in request.path %}navigationActive{% endif %}">
					    		Testimonials
					    	</a>
					    </menuitem>
				    </menu>
				</li>
				<li class="navigationItem">
				    <menu class="mainMenu">
					    <menuitem>
					    	<a href="{% url 'about'%}" tabindex="4" 
					    		class=" {% if 'about' in request.path %}navigationActive{% endif %}">
					    		About
					    	</a>
					    </menuitem>
				    </menu>
				</li>
				<li class="navigationItem">
				    <menu class="mainMenu">
					    <menuitem>
					    	<a href="{% url 'philosophy'%}" tabindex="5" 
					    		class="{% if 'philosophy' in request.path %}navigationActive{% endif %}">
					    		Philosophy
					    	</a>
					    </menuitem>
				    </menu>
				</li>
				<li class="navigationItem">
				    <menu class="mainMenu">
					    <menuitem>
					    	<a href="{% url 'getInTouch'%}" tabindex="6"
					    		class="{% if 'contact' in request.path %}navigationActive{% endif %}">
					    		Get in Touch
					    	</a>
					    </menuitem>
				    </menu>
				</li>
			</ul>
    	</div>
