/*~~~~~~~  About  ~~~~~~~*/
.about
	&Details
		margin-top: 2rem
		img
			margin-left: calc((80vw - 194px) / 2)
		@include respond(430)
			img
				float: left
				margin-right: 3rem
				margin-left: 0

	&Image
		// text-align: center
		@include respond(notebook)
			img
				float: left
				margin-right: 3rem


/*===== END  About  =====*/
