/*~~~~~~~  Bookings Page  ~~~~~~~*/

.containerBookings
	width: 100%
	padding: 0 2rem
	display: flex
	flex-direction: column
	align-items: center
	@include respond(XL)
		max-width: 80%

	hr
		margin: 1.25rem 0
		width: 100%

.bookings
	&Title
		text-transform: uppercase
		font-size: 2.75rem

	&Items
		p
			font:
				size: 1.75rem
				weight: $thinWt
			margin-bottom: 1rem
		display: flex
		flex-direction: column
		align-items: center
		margin-bottom: 1rem
		@include respond(tabletLandscape)
			picture
				img
					max-height: 50vh
					object-fit: contain

/*===== END  Bookings Page  =====*/
