{% extends "base.html" %}
{% load static %}

{% block extra_title %}Therapies{% endblock %}

{% block content %}
	<div class="containerFluid">
		<div class="therapiesTitle">
			<h2>Therapies</h2>
			<hr>
		</div>
		<div class="therapyContainer">
			<div class="therapyList">
				{% for therapy in therapies %}
					<div class="therapyCard">
						{% if therapy.image %}
								<img  class="" src="{{ therapy.image.url }}" alt="{{ therapy.name }}">
						{% else %}
								<img  class="" src="{{ MEDIA_URL }}noimage.png" alt="{{ therapy.name }}">
						{% endif %}
						<div class="therapyCardBody">
							<p>{{ therapy.name }}</p>
							<p>{{ therapy.description }}</p>
							<p>{{ therapy.course_sessions }}</p>
						</div>
						<div class="therapyCardFooter">
							<p>€{{ therapy.price }}</p>
							{% if therapy.style %}
								<p class="therapyCardStyle">
										<i class="fas fa-tag"></i>{{ therapy.style.name }}
								</p>
							{% endif %}
							{% if therapy.location %}
								<small><i class="fas fa-map-marker-alt"></i>{{ therapy.location }}</small>
							{% endif %}
							{% if therapy.extra_requirements %}
								<small>{{ therapy.extra_requirements }}</small>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
