/*~~~~~~~  Therapy List Page  ~~~~~~~ */
.therapyListing {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 37.5em) {
  .therapyListing {
    width: 70%;
  }
}
@media only screen and (min-width: 59.375em) {
  .therapyListing {
    width: 60%;
  }
}
@media only screen and (min-width: 75em) {
  .therapyListing {
    width: 50%;
  }
}
@media only screen and (min-width: 37.5em) {
  .therapyListContainer > hr {
    width: 80%;
  }
}
@media only screen and (min-width: 59.375em) {
  .therapyListContainer > hr {
    width: 75%;
  }
}
@media only screen and (min-width: 75em) {
  .therapyListContainer > hr {
    width: 65%;
  }
}

/*===== END Therapy List Page  ===== */
/*~~~~~~~  Add Therapy Page  ~~~~~~~ */
.containerAddTherapy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 2rem;
}
@media only screen and (min-width: 75em) {
  .containerAddTherapy {
    width: 50%;
    margin: 0 auto;
  }
}

.addTherapyHeader {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 1.3rem;
}
.addTherapyHeader > hr {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.addTherapyBody {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.addTherapyBody form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
  /* Since Django refuses to apply a class to its form elements
   * will have to manually force them here.
   * Have to copy .formInput styles into here */
}
.addTherapyBody form input, .addTherapyBody form select, .addTherapyBody form textarea {
  /*Always when padding an element give it a bit more on the sides to look better */
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #b299ff;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  /*Add a transparent border at the bottom to match the border when the input is focussed */
  /*Otherwise the form elements will 'jump' when focus switches */
  border-bottom: 3px solid transparent;
  /*Full width on its own line */
  width: 90%;
  display: block;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.addTherapyBody form input:focus, .addTherapyBody form select:focus, .addTherapyBody form textarea:focus {
  /*Browser highlights a border (outline) around the input element when it has focus */
  /*We want to remove this */
  outline: none;
  /*This focus is important for ARIA, i.e. keyboard navigation */
  /*Always make form elements that are focussed visible */
  /*Give it a box shadow and a border at the bottom */
  -webkit-box-shadow: 0 1rem 2rem rgba(117, 28, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(117, 28, 0, 0.1);
  border-bottom: 3px solid #b299ff;
  /*Apply this style when we have an invalid focussed input element */
}
.addTherapyBody form input:focus:invalid, .addTherapyBody form select:focus:invalid, .addTherapyBody form textarea:focus:invalid {
  border-bottom: 3px solid #191970;
}
.addTherapyBody form input::-webkit-input-placeholder, .addTherapyBody form select::-webkit-input-placeholder, .addTherapyBody form textarea::-webkit-input-placeholder {
  /*Target the placeholder text */
  color: #999999;
}
.addTherapyBody form input:-ms-input-placeholder, .addTherapyBody form select:-ms-input-placeholder, .addTherapyBody form textarea:-ms-input-placeholder {
  /*Target the placeholder text */
  color: #999999;
}
.addTherapyBody form input::-ms-input-placeholder, .addTherapyBody form select::-ms-input-placeholder, .addTherapyBody form textarea::-ms-input-placeholder {
  /*Target the placeholder text */
  color: #999999;
}
.addTherapyBody form input::placeholder, .addTherapyBody form select::placeholder, .addTherapyBody form textarea::placeholder {
  /*Target the placeholder text */
  color: #999999;
}
.addTherapyBody form label {
  font-size: 2rem;
}
.addTherapyBody form span.helpText {
  margin-top: -3rem;
  margin-bottom: 2rem;
}
.addTherapyTitle {
  margin-bottom: 1rem;
}
.addTherapyButtons {
  margin-top: 1.3rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

label[for="id_course_sessions"] {
  margin-top: 2rem;
}

.helptext {
  margin-bottom: 2.5rem;
  margin-top: -3rem;
}

/*===== END  Add Therapy Page  ===== */
/*~~~~~~~  Table  ~~~~~~~ */
.ot4uTable tr:nth-child(odd) {
  background-color: #ffb299;
}
.ot4uTable tr:nth-child(even) {
  background-color: #ffcdbd;
}
.ot4uTable .tableHead > tr {
  background-color: #751c00;
  color: #b299ff;
}
.ot4uTable td:last-child {
  text-align: right;
}
@media only screen and (min-width: 59.375em) {
  .ot4uTable {
    margin-top: 5rem;
  }
}

#therapyListTable {
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#therapyListTable td, #therapyListTable th {
  padding: 1rem 0;
}
@media only screen and (min-width: 37.5em) {
  #therapyListTable td, #therapyListTable th {
    padding: 1rem 1.5rem;
  }
}

/*===== END  Table  ===== */
.addTherapyBody form .widgetImage {
  width: 96px;
  height: 96px;
  border-radius: 0.4rem;
  -webkit-box-shadow: 2px 4px rgba(0, 0, 0, 0.075);
          box-shadow: 2px 4px rgba(0, 0, 0, 0.075);
}
.addTherapyBody form .widgetCheckbox {
  margin-top: 0.75rem;
  min-height: 1rem;
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.addTherapyBody form .widgetInput {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 1rem;
}
.addTherapyBody form .widgetInput:checked ~ .widgetLabel::before {
  background-color: #e84610;
  border-color: #e84610;
  border-radius: 0;
}
.addTherapyBody form .widgetLabel {
  margin-right: 1rem;
  color: #e84610;
}
.addTherapyBody form .widgetLabel::before {
  border-radius: 0;
  border-color: #e84610;
}

#widgetFilename {
  color: #e84610;
}

.btnFile {
  position: relative;
  overflow: hidden;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 0.75rem;
}
.btnFile input[type="file"] {
  /* Make sure that the entire input, which is clickable,
   * lives inside this span that looks like a button. */
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  /* Then making it invisible so it appears you're clicking the button */
  opacity: 0;
  cursor: pointer;
}

#newImage {
  /* Make sure that the entire input, which is clickable,
   * lives inside this span that looks like a button. */
  position: absolute;
  /* Then making it invisible so it appears you're clicking the button */
  opacity: 0;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  cursor: pointer;
}

/*# sourceMappingURL=maintenance.css.map */