/* Error: Expected spaces, was tabs.
 *   ,
 * 9 |     box-sizing: inherit
 *   | ^^^^
 *   '
 *   sass/base/_reset.sass 9:1  @import
 *   sass/main.sass 9:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected spaces, was tabs.\a   \2577 \a 9 \2502      box-sizing: inherit\a   \2502  ^^^^\a   \2575 \a   sass/base/_reset.sass 9:1  @import\a   sass/main.sass 9:9         root stylesheet";
}
