/*~~~~~~~  MailChimp  ~~~~~~~ */
@import url("https://fonts.googleapis.com/css2?family=Gabriela&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
#mc_embed_signup {
  background: #ffcdbd;
  font: 14px Helvetica, Arial, sans-serif;
  width: 100%;
}
#mc_embed_signup h2 {
  margin: 1rem 0;
}
#mc_embed_signup .helper-text {
  background-color: #ffcdbd;
}
#mc_embed_signup #mce-EMAIL-HELPERTEXT {
  background-color: #ffcdbd;
}
#mc_embed_signup .asterisk {
  color: #A5310A;
}

.indicates-required {
  margin-bottom: -3rem;
}

#mc_embed_signup .helper_text {
  background-color: #ffcdbd;
}

#mc_embed_signup #mc-embedded-subscribe {
  margin-left: auto;
}

/*===== END  MailChimp  ===== */
/*~~~~~~~  Typography  ~~~~~~~ */
body {
  font-family: Gabriela;
  font-weight: 400;
  font-size: 1.6rem;
  /* For accessibility - The WCAG criteria states that line-height should be at least 1.5 */
  /* The WCAG criteria is meant for "body" text, not headings. */
  /* So we can calculate the proper line height for all elements : */
  /* Instead of calculating the line height by multiplying the font-size with a number like 1.5, */
  /* this alternative uses the font-size as a base, and adds a fixed amount of space to each line. */
  line-height: calc(1em + 0.7rem);
  color: #751c00;
}

.titleWrapper {
  width: 60%;
  height: 100%;
  max-width: 1140px;
  padding-left: 2rem;
}
@media only screen and (min-width: 75em) {
  .titleWrapper {
    width: 50%;
  }
}

.headingTitle {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (min-width: 75em) {
  .headingTitle {
    max-width: 50%;
  }
}
.headingCollection {
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
@media only screen and (min-width: 75em) {
  .headingCollection {
    font-size: 3.1rem;
  }
}
@media only screen and (min-width: 65.625em) {
  .headingCollection {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 90em) {
  .headingCollection {
    font-size: 3.3rem;
  }
}
@media only screen and (min-width: 78.125em) {
  .headingCollection {
    font-size: 3.5rem;
  }
}

.small {
  font-size: 1rem;
}

.muted {
  color: #808080;
}

ul.errorlist > li {
  list-style: none;
  color: #A5310A;
}

/*===== END  Typography  ===== */
/*~~~~~~~  Reset  ~~~~~~~ */
/*	Josh's Custom CSS Reset
 * https://www.joshwcomeau.com/css/custom-css-reset */
*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

/* The height of an element is calculated based on its CHILDREN.
 * So setting height: 100% on an element will cause it to be 100% of the child's height.
 * This setting causes the height to be calculated from the parent */
html, body {
  height: 100%;
}

body {
  /* MacOS browsers like Chrome and Safari still use subpixel antialiasing by default. */
  /* We need to explicitly turn it off. */
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  /* Using "display: block" on these elements would remove extra space from under it
   * - Use flexbox on its parent instead */
  /* Keep large images from overflowing, if theyre placed in a container that isnt wide enough to contain them. */
  max-width: 100%;
}

/* by default, buttons and inputs don't inherit typographical styles from their parents. */
/* Instead, they have their own weird styles. */
/* Form inputs shouldn't have their own typographical styles! */
input, button, textarea, select {
  font: inherit;
}

/* The overflow-wrap property lets us tweak the line-wrapping algorithm, */
/* and give it permission to use hard wraps when no soft wrap opportunties can be found */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*===== END  Reset  ===== */
html {
  /* Since browser default font-size is 16px */
  /* Set it to 10px (on a desktop) to make converting px to rem easier. */
  /* Use a percentage so that if a user changes the font size */
  /* on their browser or zooms the font sizes,  */
  /* paddings and margins adjust accordingly. */
  /* This defines what 1rem is */
  /* For mobile 1st design we will use 8px for the mobile device */
  font-size: 50%;
}
@media only screen and (min-width: 50em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (min-width: 75em) {
  html {
    font-size: 62.5%;
  }
}
@media only screen and (min-width: 90em) {
  html {
    font-size: 75%;
  }
}

body {
  /* Inheritable properties */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Set up page for sticky footer */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.6rem;
  /* Mobile devices do not honour the "vh" property properly */
  /* So setting the view height to less than 100 for mobile devices */
  min-height: 92vh;
  /* Non-inheritable properties */
  padding: 0;
  background-color: #ffece5;
}
@media only screen and (min-width: 75em) {
  body {
    min-height: 100vh;
  }
}

/*~~~~~~~  Utilities  ~~~~~~~ */
.centreText {
  text-align: center;
}

.marginBottomSmall {
  margin-bottom: 1.5rem;
}
.marginBottomMedium {
  /* Mobile first - so smaller values first */
  margin-bottom: 3rem;
}
@media only screen and (min-width: 50em) {
  .marginBottomMedium {
    margin-bottom: 4rem;
  }
}
.marginBottomBig {
  margin-bottom: 5rem;
}
@media only screen and (min-width: 50em) {
  .marginBottomBig {
    margin-bottom: 8rem;
  }
}

.marginTopSmall {
  margin-top: 1.5rem;
}
.marginTopMedium {
  margin-top: 4rem;
}
.marginTopBig {
  margin-top: 8rem;
}
.marginTopHuge {
  margin-top: 10rem;
}

.invisible {
  display: none;
}

/*===== END  Utilities  ===== */
/*~~~~~~~  Navbar  ~~~~~~~ */
#navigationNav {
  /*	Setting the "position" property allows us to use z-index */
  position: fixed;
  /*	NO top value will centre the menu vertically on mobile screens */
  left: 0;
  z-index: 15;
  /*Hide the navigation initially */
  opacity: 0;
  /*It is not enough to have an opacity of zero */
  /*The elements are still there and are clickable
   * Need to set the width to zero as well
   * the menu elements are hidden but on the left edge of the screen & clickable
   * Need to move the menu off screen completely, so none of the menus are clickable */
  width: 0;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@media only screen and (min-width: 59.375em) {
  #navigationNav {
    background-color: #ffcdbd;
    width: 100%;
    height: auto;
    opacity: 1;
    position: relative;
    top: 0;
    /*	In the mobile version the menu is initially push off the screen
     * This is not done on the desktop version - so have to translate to position 0 */
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#naviToggle {
  display: none;
}

.navigationButton {
  display: inline;
  background-color: #FFFFFF;
  /*Make this slightly larger than the navigationBackground, to be sure to cover it */
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  position: fixed;
  top: 1rem;
  right: 0.5rem;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  /* Align the "hamburger" icon horizontally */
  text-align: center;
  cursor: pointer;
}
@media only screen and (min-width: 59.375em) {
  .navigationButton {
    display: none;
  }
}
.navigationBackground {
  /*Coloured background for the navigation */
  /*It will start as a small circle behind the white circle containing the "hamburger" icon */
  /*It will expand to fill the screen when the "hamburger" icon is clicked */
  display: block;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  /*Stays in the same position even if we scroll down the page */
  position: fixed;
  top: 1.5rem;
  right: 1rem;
  background-image: radial-gradient(#ffcdbd, #ffb299);
  z-index: 10;
  /*Custom transition function, uses a cubic bezier curve for ease-in and ease-out */
  /*See easings.net & cubic-bezier.com */
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
@media only screen and (min-width: 59.375em) {
  .navigationBackground {
    display: none;
  }
}
.navigationList {
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}
@media only screen and (min-width: 59.375em) {
  .navigationList {
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.navigationLink {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}
.navigationLink:link, .navigationLink:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #191970;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #b299ff 50%);
  /*Increasing the background shoves the RHS of the linear gradient off the element, so it is invisible */
  background-size: 235%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
@media only screen and (min-width: 59.375em) {
  .navigationLink:link, .navigationLink:visited {
    font-size: 1.8rem;
    -webkit-transform: none;
            transform: none;
  }
}
.navigationLink:hover, .navigationLink:active {
  background-position: 100%;
  color: #ffcdbd;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}
.navigationItem {
  margin: 1rem;
  /*Hide the navigation list item initially */
  width: 0;
}
@media only screen and (min-width: 59.375em) {
  .navigationItem {
    width: initial;
  }
}
.navigationCheckbox:checked ~ .navigationBackground {
  -webkit-transform: scale(80);
          transform: scale(80);
}
.navigationCheckbox:checked ~ #navigationNav {
  /*	When the 'hamburger' menu is clicked
   * 1) Make the menu full width */
  width: 100%;
  /*	2) Show the menu */
  opacity: 1;
  /*	3) The menu is initially shoved off the edge of the viewport
   * Need to move it back into the middle */
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.navigationIcon {
  display: inline-block;
  position: relative;
  margin-top: 3.5rem;
  color: #FFFFFF;
  /*A bar before the span, the span is a bar, a bar after the span */
  /*Each bar is 3rem x 2px and is coloured dark grey */
  /*For ::before and ::after to show they need content and display properties to be set */
}
.navigationIcon, .navigationIcon::before, .navigationIcon::after {
  width: 3rem;
  /*Always stays the same height, no matter what the base font size is */
  height: 2px;
  background-color: #333333;
  display: inline-block;
}
.navigationIcon::before, .navigationIcon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navigationIcon::before {
  top: -0.8rem;
  /*By default elements will rotate around the centre. */
  /*If you want to rotate around the edge you can set the transform-origin */
  /*transform-origin: right */
}
.navigationIcon::after {
  top: 0.8rem;
  /*transform-origin: left */
}
@media only screen and (min-width: 59.375em) {
  .navigationIcon {
    display: none;
  }
}
.navigationButton:hover .navigationIcon::before {
  top: -1rem;
}
.navigationButton:hover .navigationIcon::after {
  top: 1rem;
}
.navigationCheckbox:checked + .navigationButton > .navigationIcon {
  /*When the button is clicked change the "hamburger" to a cross */
  /*When the checkbox is selected - get its adjacent sibling and */
  /*select the child element of the adjacent sibling */
  /*Step 1 make the middle bar invisible (this is the span in the navigationIcon) */
  background-color: transparent;
}
.navigationCheckbox:checked + .navigationButton > .navigationIcon::before {
  /*Step 2 make the top bar rotate (this is the navigationIcon::before) */
  /*Rotate 180 degrees - 45 degrees : Takes longer, so looks better */
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 0;
}
.navigationCheckbox:checked + .navigationButton > .navigationIcon::after {
  /*Step 3 make the bottom bar rotate (this is the navigationIcon::after) */
  /*Rotate 180 degrees - 45 degrees : Takes longer, so looks better */
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 0;
}
.navigationActive {
  background-color: #99ffb2;
}
.navigation.navigationActive {
  background-color: #99ffb2;
}

.nonMobile {
  display: none;
}
@media only screen and (min-width: 59.375em) {
  .nonMobile {
    display: initial;
  }
}

@media only screen and (min-width: 59.375em) {
  .mobileOnly {
    display: none;
  }
}

.navList {
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 8rem;
  padding-top: 1rem;
}
@media only screen and (min-width: 59.375em) {
  .navList {
    margin-right: 0;
  }
}

.logoImage {
  width: 15rem;
  height: auto;
}

/*===== END  Navbar  ===== */
/*~~~~~~~  Footer  ~~~~~~~ */
footer {
  /*Sticky footer */
  margin-top: auto;
}

.footer {
  background-color: #ffcdbd;
  padding: 4rem 0 2rem 0;
  font-size: 1.4rem;
  font-family: "Roboto Slab", "Helvetica Neue", sans-serif;
  color: #751c00;
}
@media only screen and (min-width: 37.5em) {
  .footer {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 37.5em) {
  .footer {
    font-size: 2rem;
  }
}
.footerLogoBox {
  text-align: center;
  margin-bottom: 4rem;
}
.footerLogo {
  width: 15rem;
  height: auto;
}
.footerRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 114rem;
  margin: 0 auto;
}
@media only screen and (min-width: 59.375em) {
  .footerRow {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.footerBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footerBlock:first-child {
  margin-bottom: 2rem;
}
@media only screen and (min-width: 59.375em) {
  .footerBlock {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: calc((100% - 7.5rem) / 2);
  }
  .footerBlock:first-child {
    margin-right: 7.5rem;
  }
  .footerBlock:last-child {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.footerNavigation {
  border-top: 1px solid #333333;
  padding-top: 2rem;
  /*This works because 'inline-block' does not occupy the full width. */
  /*It only occupies the width of the elements in its container. */
  display: inline-block;
}
.footerList {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (min-width: 59.375em) {
  .footerList {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.footerItem {
  display: inline-block;
  margin-bottom: 0.75rem;
}
@media only screen and (min-width: 59.375em) {
  .footerItem {
    margin-bottom: 0;
  }
  .footerItem:not(:last-child) {
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
.footerLink:link, .footerLink:visited {
  color: #b299ff;
  background-color: #751c00;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 5px;
}
.footerLink:hover, .footerLink:active {
  color: #ffb299;
  -webkit-box-shadow: 0 1rem 2rem rgba(153, 255, 178, 0.4);
          box-shadow: 0 1rem 2rem rgba(153, 255, 178, 0.4);
  -webkit-transform: rotate(5deg) scale(1.3);
          transform: rotate(5deg) scale(1.3);
}
.footerCopyright {
  border-top: 1px solid #333333;
  padding-top: 2rem;
  /*This works because 'inline-block' does not occupy the full width. */
  /*It only occupies the width of the elements in its container. */
  display: inline-block;
  line-height: 2.2rem;
}
.footerCopyright .copy {
  /* Make inline-block so we can set top margins */
  display: inline-block;
  margin-top: 2rem;
}
.footerCopyright a:first-of-type {
  border-bottom: 3px solid #ffcdbd;
}
.footerCopyright .footerLink {
  margin-bottom: 1rem;
}

/*===== END  Footer  ===== */
/*~~~~~~~  Header  ~~~~~~~ */
.headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* Not enough space to display all items in one row so wrap them */
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*	Margin to give space for the hamburger button */
  margin-right: 4rem;
  /* Need the element to be positioned for z-index to work */
  position: relative;
  z-index: 20;
}
@media only screen and (min-width: 37.5em) {
  .headerNav {
    /* All items will fit on one row so no need to wrap */
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.headerNavLogo {
  margin-right: auto;
}

.shopAccounts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  /* Minimum margin to keep 'My Profile' & Cart on the top row */
  margin-right: 3rem;
}
@media only screen and (min-width: 59.375em) {
  .shopAccounts {
    margin-right: 0;
  }
}
.shopAccountsIcon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 1.3rem;
}
.shopAccountsBlock .shopAccountsLabel {
  /*	Need both classes to increase the specifity
   * to over-ride the text sizing from ".mainMenu a" */
  font-size: 1.8rem;
  /*	Match the padding from the menu a for "My Profile" */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.shopAccountsBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cartIcon {
  color: #191970;
}

/*===== END  Header  ===== */
/*~~~~~~~  Grid  ~~~~~~~ */
.messageContainer {
  z-index: 9999;
}

[class^="container"], [class$="Container"] {
  margin: 1rem auto;
  width: 80%;
}
[class^="container"] > hr, [class$="Container"] > hr {
  margin: 1.2rem auto;
}
@media only screen and (min-width: 59.375em) {
  [class^="container"] > hr, [class$="Container"] > hr {
    margin: 1.5rem auto;
  }
}
@media only screen and (min-width: 75em) {
  [class^="container"] > hr, [class$="Container"] > hr {
    margin: 1.7rem auto;
  }
}
@media only screen and (min-width: 90em) {
  [class^="container"] > hr, [class$="Container"] > hr {
    margin: 2rem auto;
  }
}
[class^="container"] h1, [class$="Container"] h1 {
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  text-align: center;
  line-height: 3.2rem;
}

/*===== END  Grid  ===== */
/*~~~~~~~  404 Page  ~~~~~~~ */
.errorSection {
  background-color: #ffb299;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 75vh;
  padding: 3rem;
}
@media only screen and (min-width: 50em) {
  .errorSection {
    min-height: 63vh;
  }
}
@media only screen and (min-width: 75em) {
  .errorSection {
    min-height: 55vh;
  }
}
.error404 {
  font-size: 10rem;
  font-weight: 100;
  color: #191970;
  margin: 3rem auto;
}
.errorSubtitle {
  color: #751c00;
}
.errorText {
  color: #A5310A;
}

/*===== END  404 Page  ===== */
.policyHeading {
  margin-bottom: 1.2rem;
}

.policyList {
  margin-left: 2.2rem;
  margin-bottom: 1.2rem;
}
@media only screen and (min-width: 37.5em) {
  .policyList {
    margin-left: 3rem;
  }
}

/*~~~~~~~  Dropdown Menu  ~~~~~~~ */
li.navigationItem {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

/* HTML Nav Styles */
menuitem {
  cursor: pointer;
  z-index: 40;
}

menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
menu.headMenu {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
menu.headMenu > menuitem > a {
  padding-left: 0;
}
menu menuitem a {
  white-space: nowrap;
  display: block;
}

/*	this is the initial state of all subMenus.
 * we set it to max-height: 0, and hide the overflowed content. */
.subMenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background-color: #ffb299;
}
@media only screen and (min-width: 59.375em) {
  .subMenu {
    /*	Ensure the subMenu is above the rest of the page */
    position: absolute;
    z-index: 50;
  }
}
.subMenu > menuitem > a {
  border-top: 1px solid #ffcdbd;
  border-bottom: 1px solid #ff6533;
}
@media only screen and (min-width: 59.375em) {
  .subMenu > menuitem > a {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 0.5rem;
  }
}
.subMenu > menuitem > a:hover {
  background-color: #ffece5;
  border: 1px solid #ffcdbd;
}
#accountOptions + .subMenu {
  max-width: 12.3rem;
}
@media only screen and (min-width: 59.375em) {
  #accountOptions + .subMenu {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
#accountOptions + .subMenu a {
  font-size: 1.2rem;
  padding-left: 0.5rem;
}
@media only screen and (min-width: 59.375em) {
  #accountOptions + .subMenu a {
    font-size: 1.7rem;
  }
}

.mainMenu {
  /* Need a bottom margin otherwise the menu is written
   * on top of the rest of the page */
}
@media only screen and (min-width: 59.375em) {
  .mainMenu {
    /*	Showing the submenu shoves the rest of the page down
     * So remove the bottom margin on the main menu to counter-act this */
  }
  .mainMenu:hover {
    margin-bottom: 0;
  }
}
.mainMenu a {
  font-size: 2.5rem;
}
@media only screen and (min-width: 59.375em) {
  .mainMenu a {
    font-size: 2.2rem;
  }
}

/*	when hovering over a .mainMenu item,
 * display the subMenu below it.
 * we're changing the subMenu's max-height from 0 to 200px; */
.mainMenu menuitem:hover .subMenu {
  /*	In the mobile view we want the "appearing" submenu to
   * shove the other main menu items down */
  display: block;
  max-height: 200px;
  width: auto;
  /*	In the desktop view we want the "appearing" submenu to
   * overlap the existing page items and not shove anything down */
}
@media only screen and (min-width: 59.375em) {
  .mainMenu menuitem:hover .subMenu {
    position: absolute;
  }
}

menu a {
  color: #751c00;
  min-width: 9rem;
  -webkit-transition: background 0.5s, color 0.5s, -webkit-transform 0.5s;
  transition: background 0.5s, color 0.5s, -webkit-transform 0.5s;
  transition: background 0.5s, color 0.5s, transform 0.5s;
  transition: background 0.5s, color 0.5s, transform 0.5s, -webkit-transform 0.5s;
  margin: 0;
  text-align: left;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  border-radius: 3px;
}

.mainMenu > menuitem {
  position: relative;
}
.mainMenu > menuitem > .subMenu {
  width: 0;
}

.dropMenu {
  /* Place an arrow underneath the mainMenu text */
}
.dropMenu:hover > menuitem::after {
  content: "";
  position: absolute;
}
@media only screen and (min-width: 59.375em) {
  .dropMenu:hover > menuitem::after {
    /* Show an arrow in desktop view */
    width: 0;
    height: 0;
    border: 8.5px solid transparent;
    border-top: 10px solid #751c00;
    top: 28px;
    /*	Show the arrow on top of the subMenu */
    z-index: 55;
  }
}
.dropMenuTopLink {
  text-align: center;
  /*	Since touch devices do not have a "hover" event
   * We need to click on the "Therapies" label to open the submenu
   * However this will activate the link and the user will never see the subMenu
   * We need to disable the pointer on the anchor in mobile view.
   * The parent menu is still clickable and will show the subMenu, but the anchor will not be activated. */
  pointer-events: none;
}
@media only screen and (min-width: 59.375em) {
  .dropMenuTopLink {
    /* Re-enable the "Therapies" anchor for non-touch screens */
    pointer-events: auto;
  }
}

/* For "search" & "My Account" dropdown */
.headMenu > menuitem > menu > menuitem {
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 0;
}

.headMenu > menuitem:hover > menu > menuitem,
.headMenu > menuitem.hover > menu > menuitem {
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 1;
}

/*	Special styling to show the User name */
#userName {
  text-transform: uppercase;
  background-color: #b299ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*===== END Dropdown Menu   ===== */
/*~~~~~~~  Button  ~~~~~~~ */
.btn {
  text-transform: uppercase;
  display: inline-block;
  padding: 1.3rem 1.8rem;
  border-radius: 10rem;
  font-size: 1.6rem;
  background-color: #ffcdbd;
  color: #751c00;
  border: 3px solid #751c00;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn:hover {
  /* Make the button pop up => 3D effect */
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  /* Box Shadow X Y Blur Colour */
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  color: #b299ff;
  background-color: #751c00;
  /* Make the button appear to be pressed => 3D effect */
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  /* Box Shadow X Y Blur Colour */
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btnCTA {
  background-color: #b299ff;
}
.btnPrimary {
  background-color: #99ffb2;
  margin-left: auto;
  margin-right: 3rem;
}
.btnGhost {
  background-color: transparent;
}
.btnGhost:hover {
  color: #751c00;
}
.btnGhost:active {
  color: #FFFFFF;
}
.btnTextOnly {
  border: none;
  background-color: transparent;
}
.btnTextOnly:hover, .btnTextOnly:active {
  background-color: transparent;
}
.btnThin {
  /* These thin buttons have too much padding above and below
   * Override the default padding for these Buttons */
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.btnStyle {
  text-decoration: none;
  text-align: center;
}
.btnStyle span {
  color: #751c00;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #751c00;
  border-radius: 0;
  font-weight: 700;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.btnStyle span:hover {
  background-color: #b299ff;
}
.btnStyleActive span {
  background-color: #751c00;
  color: #99ffb2;
}
.btnBackToTop {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #000000;
  color: #000000;
  -webkit-box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.075);
          box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.075);
}
.btnBackToTop a {
  cursor: pointer;
}
.btnBackToTop a i {
  margin: auto;
}

button[class$="crementSessions"] {
  background-color: #751c00;
  color: #ffcdbd;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  height: 3.75rem;
  width: 3.75rem;
}
button[class$="crementSessions"]:disabled {
  background-color: #808080;
  cursor: not-allowed;
}

.incrementSessions {
  margin-left: -0.5rem;
}

.decrementSessions {
  margin-right: -0.5rem;
}

.formButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.formButtons button:last-child {
  margin-top: 1rem;
}
.formButtons button:first-child, .formButtons a {
  margin: 0;
}
@media only screen and (min-width: 25.625em) {
  .formButtons {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .formButtons button:last-child {
    margin: 0;
  }
  .formButtons a {
    margin-right: 1.5rem;
  }
}

.btnFile {
  background-color: #ffcdbd;
}

#addTestimonyButtons {
  text-align: right;
}

#paymentForm #submitButton {
  margin-right: 0.5rem;
}

#addTherapyForm #submitButton, #editTherapyForm #submitButton {
  margin-right: 2rem;
}

/*===== END  Button  ===== */
.search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Since the search box will appear over the header and the mobile menu,
   * both of which have different backgrounds,
   * Need to set its background to transparent */
  background-color: transparent;
  margin-right: auto;
  margin-left: auto;
  /* Last one - move all the way to the end
   * So that it will wrap onto the next row in the mobile view */
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media only screen and (min-width: 37.5em) {
  .search {
    /* Move back inline with the rest of the top nav */
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}
.searchInput {
  /* Input does NOT inherit font family or size automatically */
  font-family: inherit;
  font-size: 1.6rem;
  color: inherit;
  background-color: #f4f2f2;
  /* Set to a high number to give round ends to rectangle */
  border-radius: 100px;
  /*	Add a border to make the search field show up against the light background */
  border: 1px solid #aab7c4;
  padding: 0.7rem 2rem;
  width: 90%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  /* Move the button on top of this input  */
  margin-right: -3.25rem;
}
.searchInput:focus {
  outline: none;
  background-color: #aab7c4;
}
.searchInput:focus::-webkit-input-placeholder {
  /*	Change the colour of the placeholder text
   * when the background gets darker
   * to ensure there is enough contrast */
  color: #333333;
}
.searchInput:focus:-ms-input-placeholder {
  /*	Change the colour of the placeholder text
   * when the background gets darker
   * to ensure there is enough contrast */
  color: #333333;
}
.searchInput:focus::-ms-input-placeholder {
  /*	Change the colour of the placeholder text
   * when the background gets darker
   * to ensure there is enough contrast */
  color: #333333;
}
.searchInput:focus::placeholder {
  /*	Change the colour of the placeholder text
   * when the background gets darker
   * to ensure there is enough contrast */
  color: #333333;
}
.searchInput::-webkit-input-placeholder {
  /* Change the colour of the placeholder text
   * to give enough contrast
   * https://www.w3schools.com/howto/howto_css_placeholder.asp */
  font-weight: 100;
  color: #999999;
}
.searchInput:-ms-input-placeholder {
  /* Change the colour of the placeholder text
   * to give enough contrast
   * https://www.w3schools.com/howto/howto_css_placeholder.asp */
  font-weight: 100;
  color: #999999;
}
.searchInput::-ms-input-placeholder {
  /* Change the colour of the placeholder text
   * to give enough contrast
   * https://www.w3schools.com/howto/howto_css_placeholder.asp */
  font-weight: 100;
  color: #999999;
}
.searchInput::placeholder {
  /* Change the colour of the placeholder text
   * to give enough contrast
   * https://www.w3schools.com/howto/howto_css_placeholder.asp */
  font-weight: 100;
  color: #999999;
}
.searchInput:focus + .searchButton {
  /* When the input gets focus
   * Change the background colour of its sibling(+) button */
  background-color: #aab7c4;
}
.searchButton {
  border: none;
  background-color: #f4f2f2;
  height: 2rem;
  width: 2rem;
  font-size: 1.4rem;
}
.searchButton:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.emptySearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.emptySearch h2 {
  margin-bottom: 1.5rem;
}

.sessionsInput {
  /* 7.5rem is twice the width of an increment/decrement button */
  width: 25%;
  font-size: 1.3rem;
  height: 3.75rem;
  padding: 0.25rem 0.5rem;
  line-height: 1.5;
}

.shopButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.formInput, .form #id_country {
  /*Always when padding an element give it a bit more on the sides to look better */
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #b299ff;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  /*Add a transparent border at the bottom to match the border when the input is focussed */
  /*Otherwise the form elements will 'jump' when focus switches */
  border-bottom: 3px solid transparent;
  /*Full width on its own line */
  width: 90%;
  display: block;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.formInput:focus, .form #id_country:focus {
  /*Browser highlights a border (outline) around the input element when it has focus */
  /*We want to remove this */
  outline: none;
  /*This focus is important for ARIA, i.e. keyboard navigation */
  /*Always make form elements that are focussed visible */
  /*Give it a box shadow and a border at the bottom */
  -webkit-box-shadow: 0 1rem 2rem rgba(117, 28, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(117, 28, 0, 0.1);
  border-bottom: 3px solid #b299ff;
  /*Apply this style when we have an invalid focussed input element */
}
.formInput:focus:invalid, .form #id_country:focus:invalid {
  border-bottom: 3px solid #191970;
}
.formInput::-webkit-input-placeholder, .form #id_country::-webkit-input-placeholder {
  /*Target the placeholder text */
  color: #999999;
}
.formInput:-ms-input-placeholder, .form #id_country:-ms-input-placeholder {
  /*Target the placeholder text */
  color: #999999;
}
.formInput::-ms-input-placeholder, .form #id_country::-ms-input-placeholder {
  /*Target the placeholder text */
  color: #999999;
}
.formInput::placeholder, .form #id_country::placeholder {
  /*Target the placeholder text */
  color: #999999;
}
.formGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.formGroup:not(:last-child) {
  margin-bottom: 2rem;
}
.formLabel {
  font-weight: 700;
  /*Use 'block' so we can apply margins to the element */
  display: block;
  margin-left: 2rem;
  margin-top: 0.7rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.formInput.fadeInLabel:placeholder-shown + .formLabel {
  /*Use adjacent sibling selector '+' to choose a label which is next to an input element */
  /*If there were elements between the label and the input we would have to use the general sibling selector '~' */
  /*The sibling we want to select/use always has to be after the other element in the HTML */
  /*When the placeholder is shown -> these attributes are applied to the label */
  /*Once we start typing -> these attributes will not be applied and the label will appear */
  /*Using opacity since we want to animate the label disappearing */
  opacity: 0;
  /*Using visibility since we want the element to be gone from the page */
  visibility: hidden;
  /*Move the label down to the same position as the placeholder text - at the start of the animation */
  -webkit-transform: translateY(4.7rem);
          transform: translateY(4.7rem);
}

input:not([type="radio"]):required + label::after, select:required + label::after {
  content: " *";
  color: #A5310A;
}

select, select option {
  color: #000000;
}
select:invalid, select option[value=""] {
  color: #aab7c4;
}

#saveInfo {
  margin-top: 1.3rem;
  margin-right: 4rem;
}
@media only screen and (min-width: 37.5em) {
  #saveInfo {
    margin-right: 6rem;
  }
}
@media only screen and (min-width: 50em) {
  #saveInfo {
    margin-right: 7rem;
  }
}
@media only screen and (min-width: 59.375em) {
  #saveInfo {
    margin-right: 8rem;
  }
}
@media only screen and (min-width: 75em) {
  #saveInfo {
    margin-right: 4.6rem;
  }
}
@media only screen and (min-width: 59.375em) {
  #saveInfo {
    margin-right: 4.7rem;
  }
}

#paymentForm {
  margin-bottom: 1rem;
}

.toast {
  min-width: 32rem;
  max-width: 75%;
  background-color: #FFFFFF;
  color: #333;
  text-align: center;
  border-radius: 2px;
  position: fixed;
  z-index: 1;
  top: 60px;
  right: 30px;
  font-size: 17px;
  overflow: visible;
}
@media only screen and (min-width: 37.5em) {
  .toast {
    max-width: 60%;
  }
}
@media only screen and (min-width: 50em) {
  .toast {
    max-width: 50%;
  }
}
@media only screen and (min-width: 59.375em) {
  .toast {
    max-width: 40%;
  }
}
@media only screen and (min-width: 75em) {
  .toast {
    max-width: 32%;
  }
}
@media only screen and (min-width: 90em) {
  .toast {
    max-width: 25%;
  }
}
.toast button.close {
  margin-left: auto;
  background-color: transparent;
  border: none;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}
.toastTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5px 8px;
}
.toastCapper {
  height: 2px;
}
.toastCapperSuccess {
  background-color: #197019;
}
.toastCapperError {
  background-color: #A5310A;
}
.toastCapperWarning {
  background-color: orange;
}
.toastCapperInfo {
  background-color: #191970;
}
.toastBody {
  padding: 10px 20px;
}
.toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.toastBookings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.toastBookingsImage {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  min-width: 25%;
}
.toastBookingsDetails {
  -webkit-box-flex: 3;
      -ms-flex: 3 3 0px;
          flex: 3 3 0;
}
.toastBookingsDetails p {
  margin-top: 0;
  margin-bottom: 0;
}
.toastBookingsDetails p:not(:first-child) {
  @extends .small;
}
.toastBookingsWrapper {
  height: 100px;
  /* horizontal overflow hidden */
  overflow-x: hidden;
  /* V'ertical overflow will turn into a scrollbar when the height is greater than 100 pixels */
  overflow-y: auto;
}
.toastBookingsTotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 0;
}

.messageContainer {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 9999;
}

.greenBackground {
  background-color: #75e075;
  border: 1px solid #197019;
}

.redBackground {
  background-color: #bd380b;
  border: 1px solid #A5310A;
}

.blueBackground {
  background-color: #7575e0;
  border: 1px solid #191970;
}

.orangeBackground {
  background-color: #ffb733;
  border: 1px solid orange;
}

.yellowBackground {
  background-color: #fffe87;
  border: 1px solid #878600;
}

/*~~~~~~~  Django AllAuth  ~~~~~~~ */
ul.errorlist {
  color: #A5310A;
}

.allauth {
  padding: 1.5rem 2rem;
}
.allauthWrapper {
  width: 100%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 59.375em) {
  .allauthWrapper {
    width: 50%;
  }
}
@media only screen and (min-width: 75em) {
  .allauthWrapper {
    width: 35%;
  }
}
.allauthWrapper form.login p {
  margin-top: 0.75rem;
}
.allauthTitle {
  margin-bottom: 2rem;
  margin-top: 1.4rem;
  text-transform: uppercase;
  text-align: center;
}
.allauthFormInnerContent p {
  margin-top: 2rem;
  color: #751c00;
}
.allauthFormInnerContent a {
  color: #191970;
}
.allauthFormInnerContent input {
  border-color: #751c00;
  border-radius: 0;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
}
.allauthFormInnerContent input::-webkit-input-placeholder {
  color: #aab7c4;
}
.allauthFormInnerContent input:-ms-input-placeholder {
  color: #aab7c4;
}
.allauthFormInnerContent input::-ms-input-placeholder {
  color: #aab7c4;
}
.allauthFormInnerContent input::placeholder {
  color: #aab7c4;
}
.allauthFormInnerContent label:not([for="id_remember"]) {
  /* Hide the labels on everything except for the remember me checkbox on the login page */
  /* since all the other inputs will have placeholders */
  display: none;
  /* Standard Bootstrap transition */
  transistion: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.allauthFormInnerContent label:not([for="id_remember"]):hover {
  color: #b299ff;
  background-color: #333333;
  border-color: #333333;
}
.allauthSignUpFirst {
  margin-bottom: 1rem;
}

.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 0;
}
.signupButtons {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.signup input {
  width: 80%;
}

.emailVerifySent {
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2rem;
}
.emailVerifySent a {
  margin-top: 1rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.emailConfirm {
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.emailConfirm form {
  margin-top: 1rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.emailConfirm p {
  padding: 0 2rem;
}
.emailConfirm .userName {
  font-weight: 700;
}

.loginPage {
  padding: 0 2rem;
}
.loginForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1.5rem 0;
  position: relative;
}
.loginButtons {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.rememberMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rememberMe #id_remember {
  margin-top: 1rem;
}

label[for="id_remember"] {
  padding-left: 1rem;
}

@media only screen and (min-width: 37.5em) {
  .logoutPage {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 59.375em) {
  .logoutPage {
    /* At the "notebook" size an outer div is set to 50%
     * So reset the width back to full width again */
    width: 100%;
  }
}
.logoutForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.logoutButtons {
  margin-top: 2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.passwordResetForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}
.passwordResetButtons {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.passwordResetButtons input {
  border-radius: 10rem;
}
.passwordResetDone p {
  padding-bottom: 1rem;
}
.passwordResetKey form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.passwordResetKey form input:last-of-type {
  border-radius: 10rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.passwordResetKey form input:not(:last-of-type) {
  min-width: 23rem;
  max-width: 30rem;
}
.passwordResetKeyDone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.passwordResetKeyDone a {
  margin-top: 1.5rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/*===== END  Django AllAuth  ===== */
/*~~~~~~~  Stripe  ~~~~~~~ */
.StripeElement,
.stripeStyleInput {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 4rem;
  padding: 1rem 1.2rem;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 1px 3px 0 #e6ebf1;
          box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  -webkit-transition: -webkit-box-shadow 150ms ease;
  transition: -webkit-box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease, -webkit-box-shadow 150ms ease;
}

.StripeElement--focus,
.stripeStyleInput:focus,
.stripeStyleInput:active {
  -webkit-box-shadow: 0 1px 3px 0 #cfd7df;
          box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripeStyleInput::-webkit-input-placeholder {
  color: #aab7c4;
}

.stripeStyleInput:-ms-input-placeholder {
  color: #aab7c4;
}

.stripeStyleInput::-ms-input-placeholder {
  color: #aab7c4;
}

.stripeStyleInput::placeholder {
  color: #aab7c4;
}

.fieldset-label {
  position: relative;
  right: 0.5rem;
}

#paymentForm .form-control,
#stripeCard {
  color: #000;
  border: 1px solid #000;
}

#stripeError {
  background-color: #ffece5;
  /*===== END  Stripe  ===== */
}

/*# sourceMappingURL=style.css.map */