/*~~~~~~~  Therapies Page  ~~~~~~~ */
.therapyTitle {
  text-align: center;
  margin-top: 1rem;
}
.therapyTitle h1 {
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}
.therapyTitle hr {
  width: 50%;
  margin: 1.5rem auto 0 auto;
}
.therapyContainer {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.therapyList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* External & Internal border padding */
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*===== END  Therapies Page  ===== */
/*~~~~~~~  Single Therapy Page  ~~~~~~~ */
.therapyWrapper {
  padding: 2rem 1rem;
}
@media only screen and (min-width: 75em) {
  .therapyWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media only screen and (min-width: 75em) {
  .therapyImageWrapper {
    width: 50%;
    margin-right: 2rem;
  }
}
@incude respond(XL) {
  .therapyImageWrapper {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
.therapyImageWrapper img {
  max-height: 43rem;
}
.therapyDetails {
  margin-top: 1rem;
}
@media only screen and (min-width: 75em) {
  .therapyDetails {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@incude respond(XL) {
  .therapyDetails {
    width: 33%;
    margin-left: 15%;
  }
}
.therapyDetailsDescription {
  margin-top: 0.5rem;
}
.therapyDetailsBody p {
  margin-top: 0.75rem;
}
.therapyDetailsPrice {
  font-size: 2.5rem;
  font-weight: 700;
}
.therapyDetailsLabel {
  font-weight: 700;
}
.therapyDetailsSessions {
  margin-top: 1rem;
}
.therapyDetailsFooter {
  margin-top: 1rem;
  font-size: 1.6rem;
}
.therapyDetailsFooter p {
  margin-top: 0.75rem;
}

p.therapyDetailsPrice {
  margin-top: 1.25rem;
}

.shopButtons {
  margin-top: 1.2rem;
}

/*===== END  Single Therapy Page  ===== */
/*~~~~~~~  Card  ~~~~~~~ */
.therapyCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Layout card in a grid
   * https://www.youtube.com/watch?v=vQAvjof1oe4 */
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(25, 25, 112, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(25, 25, 112, 0.15);
}
.therapyCard p {
  font-size: 1.6rem;
  margin-bottom: 0.75rem;
}
.therapyCardBody {
  /* Push the cardFooter to the bottom of the card */
  -webkit-box-flex: 1;
      -ms-flex: auto 1 1;
          flex: auto 1 1;
  padding: 0 1rem;
}
.therapyCardBody h2 {
  padding: 1rem 0;
  font-size: 2rem;
}
.therapyCardFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #ffcdbd;
  padding: 0.75rem 1rem;
  text-align: left;
  /* Since the footer hides the card's border-radius on the bottom
   * Need to set its border radius on the bottom too */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.therapyCardFooter p {
  margin-bottom: 0;
  font-weight: 700;
  color: #751c00;
  opacity: 0.7;
}
.therapyCardFooter small {
  color: #999999;
}
.therapyCardFooter .bookButton {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.therapyCardStyle {
  color: #751c00;
  font-size: 1.2rem;
  font-family: Gabriela;
}
.therapyCardStyle a {
  -webkit-text-decoration-color: #999999;
          text-decoration-color: #999999;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  text-decoration-thickness: auto;
}
.therapyCardStyle a:visited, .therapyCardStyle a:link {
  color: #999999;
}
.therapyCard img {
  height: 21rem;
  /* Since the image hides the card's border-radius on the top
   * Need to set its border radius on the top too */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/*===== END  Card  ===== */
/*~~~~~~~  Sort  ~~~~~~~ */
.sortRow {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 0;
}
@media only screen and (min-width: 22.5em) {
  .sortRow {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

/*===== END  Sort  ===== */

/*# sourceMappingURL=therapy.css.map */