{% extends "base.html" %}
{% load static %}

{% block extra_title %}Therapy List{% endblock %}

{% block extra_css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/maintenance.css' %}">
{% endblock %}

{% block content %}
	<div class="therapyListContainer">
		<hr>
		<h1>List of Therapies</h1>
		<hr>
		<div class="therapyListing">
			<div>
				<!-- Table containing the list of therapies -->
				<table id="therapyListTable" class="ot4uTable">
					<thead class="tableHead">
						<tr>
							<th class="therapyListName">Name</th>
							<th class="therapyListStyle">Style</th>
							<th class="therapyListCost">Cost</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
					{% for therapy in therapies %}
					<!-- Show identifying information for each therapy -->
						<tr class="therapyListRow"  id="therapy{{ therapy.id }}">
							<td class="therapyListLabel" title="{{ therapy.name }}">
								{{ therapy.name }}
							</td>
							<td class="therapyListCentre">
								{{ therapy.style }}
							</td>
							<td class="therapyListCentre">
								€{{ therapy.price }}
							</td>
							<td class="therapyListActions">
								<!-- This "button" allows the Occupational Therapist to edit this therapy's details -->
								<a href="{% url 'editTherapy' therapy.id %}"><i class="fas fa-pencil"></i></a>
								<!-- This button allows the Occupational Therapist to delete this therapy from the OT4U website -->
								<a class="errorText" onclick="deleteTherapy({{ therapy.id }});"><i class="fas fa-trash"></i></a>
							</td>
						</tr>
					{% empty %}
						<!-- If there are no therapies then show an appropriate message -->
						<tr><td colspan="4">You have no therapies yet!  Please add some Therapies <a href="{% url 'addTherapy' %}">here</a></td></tr>
					{% endfor %}
					</tbody>
					
				</table>
			</div>
			<div class="formButtons">
				<a href="{% url 'home' %}" class="btn btnGhost btnThin">
					<span class="icon">
						<i class="fas fa-house"></i>
					</span>
					Home
				</a>
				<a href="{% url 'addTherapy' %}" class="btn btnPrimary btnThin">
					Add New Therapy
				</a>
			</div>
		</div>
		<!-- Empty form to use to POST the delete therapy -->
		<form method="POST" id="deleteForm">
			{% csrf_token %}
		</form>
		
	</div>

{% endblock content %}

{% block postloadjs %}
	{{ block.super }}
	<script>
	const deleteTherapy = (pk) => {
		/*If the user cancels the deletion*/
		/*Do not continue - just return from this method*/
		if (!confirm("Are you certain you want to delete this therapy?")) {
			return;
		}
		/*Otherwise we will continue with deleting the therapy*/
		deleteUrl = '/maintenance/delete/' + pk + '/';

		$("#deleteForm").attr("action", deleteUrl);
		$("#deleteForm").submit();
		
	}
	</script>
{% endblock %}			